.header__line {
    max-width: 100%;
    border-width: .5px;
    border-style: solid;
    border-color: #545454;
}

@media screen and (max-width: 640px) {
    .header__line  {
      max-width: 640px;
    }
  }